<h1>Listing updates</h1>
<table>
  <% @commits.each do |id,commit| %>
    <tr>
      <td>
        <%= commit[:parents].length.times.collect { '|' }.join('') %>
      </td>
      <td>
        <%= id[0..7] %>
      </td>
      <td><%= commit[:message] %></td>
    </tr>
  <% end %>
</table>
<hr>
<table>
  <tr>
    <th>Before</th>
    <th>After</th>
    <th>Commits</th>
    <th>Ref</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @updates.each do |update| %>
  <tr>
    <td><%= update.before[0..7] %></td>
    <td><%= update.after[0..7] %></td>
    <td><%= update.commits.keys.collect {|key| key[0..7] } %></td>
    <td><%= update.ref %></td>
    <td><%= link_to 'Show', update %></td>
    <td><%= link_to 'Edit', edit_update_path(update) %></td>
    <td><%= link_to 'Destroy', update, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Update', new_update_path %>
